body {
  background-color: #f0f0f0;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.title-graphs {
  text-align: center;
  width: 90%;
  margin: auto;
  margin-top: 20px;
}

/* #correlation-graph {
  width: 90%;
  margin: auto;
} */

#ranking-title {
  text-align: center;
}

#regression-title {
  text-align: center;
}

#iso-dropdown {
  width: 150px;
  margin: auto;
  margin-top: 20px;
}

#update-button {
  display: block;
  margin: auto;
  margin-top: 8px;
  background-color: #6697c7;
  color: white;
  border: none;
  width: 150px;
  padding: 8px 16px;
  border-radius: 4px;
  margin-bottom: 10px;
  cursor: pointer;
}

#update-button:hover {
  background-color: #05c5f0;
}

.graph-show {
  /* width: 80%; */
  margin: auto;
  max-width: 70%;
}

.table-show {
}

.titulo-geral {
  text-align: center;
  color: #333;
}

.descricao {
  text-align: center;
  font-size: 20px;
  color: #666;
}

.titulo-descricao-container {
  text-align: center;
  text-justify: auto;
}

.titulo-descricao-container strong {
  color: #007bff; /* Cor para destaque, ajuste conforme necessário */
  font-weight: bold;
}

.titulo-descricao-container p {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}

.linha-separadora {
  border: 1px solid #ccc;
  margin: 20px 100px;
}

.corr-container {
  display: block;
  margin-bottom: 50px;
}

.title-graphs,
.corr-container p,
.corr-container pre {
  text-align: center;
}

.data-table {
  overflow-x: auto;
  width: 100%;
  margin-bottom: 20px;
}

.regression-container {
  margin-bottom: 50px;
}

@media only screen and (max-width: 600px) {
  .graph-show {
    max-width: 100%;
    margin: auto;
    width: 100%;
    margin-bottom: 50px;
  }

  .title-graphs {
    width: 100%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .corr-container {
    margin-bottom: 50px;
  }

  .regression-container {
    margin-bottom: 50px;
  }

  .data-table {
    overflow-x: auto;
    width: 100%;
    margin-bottom: 20px;
  }

  .table-show {
    width: 100%;
  }
  html {
    font-size: 8px !important;
  }

  .titulo-descricao-container p {
    font-size: 8px;
    max-width: 80%;
  }
  .js-plotly-plot {
    max-width: 100% !important;
    margin: auto !important;
    width: 90% !important;
    height: 350px !important; 
  }

  .js-plotly-plot text {
    font-size: 5px !important; 
  }

  #update-button {
    width: 80px;
  }

  #iso-dropdown {
    width: 80px;
  }

}
